.custom-embla {
  width: 100%;
  background: red;

  & .embla__viewport {
    background: lime;

    & .embla__container {
      background: darkviolet;
      padding-block: 1rem;

      & .embla__slide {
        background: royalblue;
      }
    }
  }

  & .embla__controls {
    background: gray;

    & .embla__buttons {
      background: cyan;
    }

    & .embla__selected-snap-display {
      background: fuchsia;
    }
  }
}

.examples {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & > div {
    & > p {
      text-align: center;
      margin-bottom: 1rem;

      .on,
      .off {
        font-weight: 700;
        text-shadow: 0 1px 2px black;
      }

      .on {
        color: lime;
      }

      .off {
        color: red;
      }
    }
  }
}
