.custom-embla {
  background: red;

  & .embla__viewport {
    background: lime;

    & .embla__container {
      background: darkviolet;
      padding-block: 1rem;

      & .embla__slide {
        background: royalblue;
      }
    }
  }

  & .embla__controls {
    background: gray;

    & .embla__buttons {
      background: cyan;
    }

    & .embla__selected-snap-display {
      background: fuchsia;
    }
  }
}
