* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  height: 100vh;
  padding-inline: 1rem;
  margin: 0 auto;
  display: flex;
  gap: 4rem;
  justify-content: space-evenly;

  & .examples {
    flex: 1;
  }
}
